.help-btn{
    width: 50%;
    line-height: 280px;
    text-align: center;
    cursor: pointer;
}
.help-btn>div{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
.help-btn.help-btn-accept{
  background-image: url(../images/accept.png);
  background-size: 100% 100%;
}
.help-btn.help-btn-apply{
  background-image: url(../images/apply.png);
  background-size: 100% 100%;
}

.help-btn:hover{
    background-color: #e0e8e0;
}

.no-item-comment{
  margin-top: 5px;
  padding: 19px;
  border: 1px solid #eeeeee;
  background-color: #5bc0de;
}
table>thead>tr{
    background-color: rgb(190, 57, 72);
}
td > span {
    display: inline-block;
    padding: 7px 0;
    width: 100%;
}
.system{
    width: 100%;
    overflow: hidden;
    margin: 5px 0;
    border:1px solid #ffffff;
    background-color: #FF4500;
}
span.system-info{
    width: 14.28%;
    float: left;
    text-align: center;
    padding: 5px;
    border-right:1px solid #ffffff ;
}
.table-title{
    text-align: center;
    font-size: 20px;
}
.table-title span{
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    height: 5px;
    margin: 0 10px;
}
.table-title .table-title-right{
    background: -webkit-linear-gradient(180deg,#eeeeee,#8B658B);
}
.table-title .table-title-left {
    background: -webkit-linear-gradient(180deg,#8B658B,#eeeeee);
}
