<form name="form" novalidate>
  <label>原密码</label>
  <input type="password" name="old_password" class="form-control input-sm" ng-model="payload.old_passwd" required>
  <label>新密码</label>
  <input type="password" name="new_password" class="form-control input-sm" ng-model="payload.new_passwd" required>
  <label>再次输入新密码</label>
  <input type="password" name="new_password2" class="form-control input-sm" equal-to="payload.new_passwd" ng-model="payload.new_passwd2">
  <button class="btn btn-primary btn-sm" ng-click="password(payload)" ng-disabled="form.$invalid">提交</button>
</form>
