<div class="panel panel-info">
    <div class="panel-heading">第一步</div>
    <div class="panel-body">
        <p>单击‘接受帮助’大图标，跳转至接受帮助界面</p>
        <img src="../../images/accept.png" alt="接受帮助">
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">第二步</div>
    <div class="panel-body">
        <p>进入‘接受帮助’界面,请按照要求输入你需要的金额</p>
        <img style="width: 100%" src="../../images/tixian.png" alt="接受金额">
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">第三步</div>
    <div class="panel-body">
        <p>成功提交请求之后，系统将自动返回主页，如果请求提交成功，主订单将匹配为 <span class="label label-info">匹配中</span> </p>
        <img  style="width: 100%" src="../../images/accept_ing.png" alt="接受成功">
    </div>
</div>
<!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">-->
        <!--第四步-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--<p>请求提交之后，在订单匹配完成之前（即状态为 <span class="label label-info">匹配中</span> ），可以点击 <span class="label label-info">管理->删除 </span>来取消订单</p>-->
        <!--<img  style="width: 100%" src="../../images/del_accept.png" alt="">-->
    <!--</div>-->
<!--</div>-->
<div class="panel panel-info">
    <div class="panel-heading">
        第四步
    </div>
    <div class="panel-body">
        <p>系统匹配成功（即状态为 <span class="label label-info">匹配</span> ），系统将持续给您提供帮助匹配，直到订单完成</p>
        <img  style="width: 100%" src="../../images/accept_success.png" alt="">
    </div>
</div>
