<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            第一步
        </div>
        <div class="panel-body">
            <p>单击选择'提供帮助'大图标，跳转至提供帮助界面</p>
            <img src="../../images/apply.png" alt="提供帮助">
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            第二步
        </div>
        <div class="panel-body">
            <p>进入‘提供帮助界面’，输入提供帮助的金额(帮助金额必须是500的倍数)，提交请求</p>
            <img style="width: 100%" src="../../images/apply_help_input.png" alt="请求金额">
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            第三步
        </div>
        <div class="panel-body">
            <p>成功提交请求之后，系统将自动返回主页，如果请求成功，请求的状态标记为<span class="label label-info">请求排队中</span></p>
            <img style="width: 100%" src="../../images/apply_ing.png" alt="请求成功">
        </div>
    </div>
    <!--<div class="panel panel-info">-->
        <!--<div class="panel-heading">-->
            <!--第四步-->
        <!--</div>-->
        <!--<div class="panel-body">-->
            <!--<p>请求提交之后，在订单匹配成功之前，可以点击<span class="label label-info">管理->删除</span>来取消订单</p>-->
            <!--<img style="width: 100%" src="../../images/del_apply.png" alt="删除请求">-->
        <!--</div>-->
    <!--</div>-->
</div>
