<div class="panel panel-info">
    <div class="panel-heading">第一步</div>
    <div class="panel-body">
        <p>成功提交帮助请求之后，系统将会申请帮助请求的状态标志为 <span class="label label-info">等待支付</span> </p>
        <img style="width: 100%"  src="../../images/confirm.png" alt="确认帮助">
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">第二步</div>

    <div class="panel-body">
        <p>点击 <span class="label label-info">管理->详细</span> 查看需要帮助的对象的详细信息</p>
        <img src="../../images/confirm_detail.png" alt="详细帮助">
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">第三步</div>
    <div class="panel-body">
        <p>根据详细信息完成提供帮助后，单击 <span class="label label-info">管理->支付</span> ,在留言中说明本次帮助的详细信息，并上传截图</p>
        <img src="../../images/confirm_pay.png" alt="说明帮助">
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">第四步</div>
    <div class="panel-body">
        <p> 成功提交之后，系统将更新状态为 <span class="label label-info">已经支付</span>,之后请耐心等待，接受帮助方的确认 </p>
        <img style="width: 100%"  src="../../images/confirm_wait.png" alt="等待确认">
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">第五步</div>
    <div class="panel-body">
        <p> 如果你不想提供帮助,可以单击 <span class="label label-info">管理->拒绝</span>，来拒绝帮助，<span class="text-danger"> 拒绝帮助的玩家，将直接被系统封号！！</span> </p>
        <img style="width: 100%"  src="../../images/confirm_refuse.png" alt="拒接帮助">
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">第六步步</div>
    <div class="panel-body">
        <p> <span class="label label-info">留言</span> 和 <span class="label label-info"> 截图 </span> 来确认否收到帮助，
            如果确认已经收到帮助，请点击 <span class="label label-info">管理->确认支付</span> 来完成流程，否则
            单击 <span class="label label-info">管理->支付异常</span> 进入异常处理流程，系统将会自动将异常订单标记为
            <span class="label label-info">支付异常</span>，之后，由管理员来处理。
        </p>
        <img style="width: 100%"  src="../../images/confirm_had_pay_normal.png" alt="拒接帮助">
    </div>
</div>

