<div>
  <form name="form" novalidate>
    <div class="form-group">
      <label for="add_account">请输入您要增加排单币的账号</label>
      <input id="add_account" type="text" class="form-control" ng-model="to_add_match_account" required>
      <label for="add_match_coin">请输入您要增加的排单币</label>
      <input id="add_match_coin" type="text" class="form-control" ng-model="to_add_match_coin" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block"  ng-disabled="form.$invalid" ng-click="add_match_coin()">提交</button>
  </form>
</div>
