<form novalidate>
  <div class="form-group">
    <label for="id">会员账户</label>
    <input id="id" type="text" class="form-control input-sm" disabled ng-model="AccountMgr.info().id">
  </div>
  <div class="form-group">
    <label for="passwd">会员密码</label>
    <input id="passwd" type="text" class="form-control input-sm" disabled ng-model="AccountMgr.info().passwd">
  </div>
  <div class="form-group">
    <label for="active_coin">激活币</label>
    <input id="active_coin" type="text" class="form-control input-sm" disabled ng-model="AccountMgr.info().active_coin">
  </div>
  <div class="form-group">
    <label for="match_coin">排单币</label>
    <input id="match_coin" type="text" class="form-control input-sm" disabled ng-model="AccountMgr.info().match_coin">
  </div>
  <div class="form-group">
    <label for="leader_id">领导账户</label>
    <input id="leader_id" type="text" class="form-control input-sm" disabled ng-model="AccountMgr.info().leader_id">
  </div>
  <div class="form-group">
    <label for="email">邮箱</label>
    <input id="email" type="text" class="form-control input-sm" disabled ng-model="AccountMgr.info().email">
  </div>
  <div class="form-group">
    <label for="phone">手机号码</label>
    <input id="phone" type="text" class="form-control input-sm" disabled ng-model="AccountMgr.info().phone">
  </div>
  <div class="form-group">
    <label for="wechat">微信</label>
    <input id="wechat" type="text" class="form-control input-sm" disabled ng-model="AccountMgr.info().wechat">
  </div>
  <div class="form-group">
    <label for="alipay">支付宝</label>
    <input id="alipay" type="text"  class="form-control input-sm" disabled ng-model="AccountMgr.info().alipay">
  </div>
  <div class="form-group">
    <label for="bank">开户银行</label>
    <input id="bank" type="text"  class="form-control input-sm" disabled ng-model="AccountMgr.info().bank">
  </div>
  <div class="form-group">
    <label for="bank_address">开户支行</label>
    <input id="bank_address" type="text"  class="form-control input-sm" disabled ng-model="AccountMgr.info().bank_address">
  </div>
  <div class="form-group">
    <label for="bank_account">开户账户</label>
    <input id="bank_account" type="text"  class="form-control input-sm" disabled ng-model="AccountMgr.info().bank_account">
  </div>
  <div class="form-group">
    <label for="bank_name">开户名称</label>
    <input id="bank_name" type="text"  class="form-control input-sm" disabled ng-model="AccountMgr.info().bank_name">
  </div>
</form>
