<div id="list" toggle-management>
  <ul>
    <li>
      <span toggle-install> <i class="fa fa-trademark"></i> 总统计 </span>
      <ul>
        <li ui-sref="dashboard.apply_help_list"><i class="fa fa-train"></i> 申请帮助列表</li>
        <li ui-sref="dashboard.accept_help_list"><i class="fa fa-train"></i> 接受帮助列表</li>
        <li ui-sref="dashboard.get_history_notice"><i class="fa fa-train"></i> 获取历史公告</li>
      </ul>
      <span toggle-install> <i class="fa fa-trademark"></i> 互助设置 </span>
      <ul>
        <li ui-sref="dashboard.auto_match"><i class="fa fa-train"></i> 自动匹配</li>
      </ul>
      <span toggle-install> <i class="fa fa-trademark"></i> 账号设置 </span>
      <ul>
        <li ui-sref="dashboard.view_account"><i class="fa fa-train"></i> 查看账号</li>
        <li ui-sref="dashboard.active_account"><i class="fa fa-train"></i> 激活账号</li>
        <li ui-sref="dashboard.seal_account"><i class="fa fa-train"></i> 封账号</li>
        <li ui-sref="dashboard.unseal_account"><i class="fa fa-train"></i> 解封账号</li>
        <li ui-sref="dashboard.add_active_coin"><i class="fa fa-train"></i> 增加激活币</li>
        <li ui-sref="dashboard.add_match_coin"><i class="fa fa-train"></i> 增加排单币</li>
      </ul>
      <span toggle-install> <i class="fa fa-trademark"></i> 系统设置 </span>
      <ul>
        <li ui-sref="dashboard.set_notice"><i class="fa fa-train"></i> 设置公告</li>
        <li ui-sref="dashboard.server_setting"><i class="fa fa-train"></i> 服务器参数设置</li>
      </ul>
    </li>
  </ul>
</div>
